
/*font-family: 'Noto Serif', serif;
font-family: 'Bree Serif', serif;
font-family: 'Rasa', serif;*/

a{
  color: white;
  text-decoration: none;
}

  a:hover{
    color: yellow;
    text-shadow: white 10px;
  }

.about{
  color: white;
  font-size: 30px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  min-width: 775px;
}

body{
  background: grey;
  margin: 0;
  padding: 0;
}

hr{
  color: black;
  width: 40%;
}

li{
  display: inline-block;
  font-size: 22px;
  margin: 0 50px 0 0;
}

.logo{
  display: inline-block;
  float: left;
  font-size: 35px;
  height: 55px;
  margin: 0 50px 0 0;
  padding: 10px 0 0 20px;
}

.navbar{
  background: #000033;
  color: white;
  font-family: 'Rasa', serif;
  height: 55px;
  margin: 0;
  padding: 8px 0 10px 0;
  position: fixed;
  white-space: nowrap;
  width: 100%;
    min-width: 650px;
  z-index: 1000;
}

  .navbar-blank{
    background: transparent;
    height: 70px;
    width: 100%;
  }

.summary{
  background: white;
  color: black;
  margin-top: 60px;
  height: 500px;
  width: 100%;
}

  .summary-content{
    border: solid 3px black;
    height: 400px;
    margin: auto;
    width: 90%;
  }

    .contentboxes{
      border: solid 1px red;
      height: 300px;
      margin: 20px auto 0 auto;
      display: block;
      width: 90%;
    }

      .box1{
        background: transparent;
        height: 100%;
        width: 30px;
      }

      .box2{
        background: transparent;
        height: 100%;
        width:  30px;
      }

      .box3{
        background: transparent;
        height: 100%;
        width: 30px;
      }

.text-main{
  color: white;
  font-size: 325px;
  font-family: 'Rasa', serif;
  margin: auto;
  padding: 50px 0 0 0;
  text-align: center;
}

.title-main{
  background: grey;
  height: 450px;
  width: 100%;
}

ul{
  display: block;
  list-style: none;
  float: right;
}
